@charset "utf-8";

$width-breakpoint-small: 481px;
$height-breakpoint-small: 650px;

$width-breakpoint-medium: 769px;
$height-breakpoint-medium: 750px;

$width-breakpoint-large: 1280px;
$height-breakpoint-large: 850px;

@mixin small {
  @media (max-width: #{$width-breakpoint-small - 1px}) {
    @content;
  }
}

@mixin small-height {
  @media (max-height: #{$height-breakpoint-small - 1px}) and (min-width: #{$width-breakpoint-small}) {
    @content;
  }
}

@mixin medium {
  @media ((min-width: #{$width-breakpoint-small}) and (max-width: #{$width-breakpoint-large - 1px})) {
    @content;
  }
}

@mixin medium-height {
  @media ((min-height: #{$height-breakpoint-small}) and (max-height: #{$height-breakpoint-large - 1px})) and (min-width: #{$width-breakpoint-large}) {
    @content;
  }
}

@mixin large {
  @media (min-width: #{$width-breakpoint-large}) and (min-height: #{$height-breakpoint-large}) {
    @content;
  }
}

@include small() {
  :root {
    font-size: 6px;
  }
}

@include medium {
  :root {
    font-size: 8px;
  }
}

@include large {
  :root {
    font-size: 10px; // 10px === 1rem
  }
}

@include small-height {
  :root {
    font-size: 6px; // 10px === 1rem
  }
}

@include medium-height {
  :root {
    font-size: 8px; // 10px === 1rem
  }
}
