@charset "utf-8";

@import "./reset.scss";
@import "./responsive.scss";
@import "./common.scss";

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #f7f4c8;
}

#root {
  width: 100%;
  display: flex;

  justify-content: center;
  align-items: center;
}

main {
  width: 65vh;
  min-width: 370px;

  padding: 20px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      display: flex;
      align-items: center;

      img {
        width: 4.5rem;
        margin-right: 0.5rem;
      }

      h1 {
        font-size: $font_size_xxl;
        font-weight: 900;
        color: $point_color_sub;
      }
    }
  }

  section {
    width: 100%;
    margin: 1rem 0;

    display: flex;
    justify-content: space-between;

    .score,
    .nextFruit {
      display: flex;
      align-items: center;

      span {
        font-weight: bold;
      }

      img {
        width: 3rem;
        height: 3rem;
        object-fit: contain;
      }
    }
  }

  canvas {
    width: 100%;
  }
}

// Game description modal style
.descriptionBtn {
  font-size: $font_size_xs;
}

.description {
  text-align: center;
  line-height: 3rem;
}

.evolutionFruit {
  display: flex;
  justify-content: center;
  margin: 0.3rem 0 1rem;

  div {
    display: flex;

    .evolutionFruitImg {
      width: 3rem;
      height: 3rem;
      object-fit: contain;
    }

    .evolutionFruitIcon {
      width: 1rem;
    }
  }
}

.keyDescriptionDiv {
  margin-top: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  span {
    line-height: normal;
    margin-top: 0.5rem;
    display: flex;

    img {
      display: block;
      width: 2rem;
      height: 2rem;
      background-color: $point_color_sub;
    }
  }
}

.linkDiv {
  margin-top: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    line-height: 3rem;
    color: $point_color_sub;

    &:first-child {
      margin-right: 1rem;
    }
  }
}

.modalBtn {
  display: flex;
  justify-content: center;
  margin-top: 1.6rem;

  button:first-child {
    margin-right: 1rem;
  }
}

// Game result modal style
.gameResultModalMsg {
  text-align: center;
}

.gameResultModalBtn {
  display: flex;
  justify-content: center;
  margin-top: 1.6rem;

  .gameContinue {
    margin-right: 1rem;
  }
}
